Host dev
    Hostname 159.89.182.222
    User root 
    IdentityFile ~/.ssh/google_compute_engine
    Port 22
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    PasswordAuthentication no
    IdentitiesOnly yes
    LogLevel FATAL